.layoutMain {
  margin: 0 2vw;
  padding: 2vw;
  text-align: center;
  background: lightblue;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
