.layoutMain {
  margin: 0 1vw;
  /*padding: 2vw;*/
  text-align: center;
  background: lightblue;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
